<div id="<%= dom_id project %>">
    <p><strong>Title:</strong></p>
    <p><%= project.title %></p>
    <p><%= project.subtitle %></p>
    <p><%= project.body %></p>
    <p class="pointer"><%= link_to(image_tag(project.thumb_image), edit_project_path(project)) %></p>
</div>
